{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {% if category %}
       {{  category.description| truncatewords:155}}
    {% else %}
        Welcome to the FOOD HUT
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }}- foodhut
    {% else %}
        FOOT HUT
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
        <div>
            <div class="row  my_row_class ">
             <div class="mx-auto">
                <p><a href="{% url 'shop:allprod_cat' %}">All food Items</a></p>
            </div>
                </div>
        </div>
        {% endif %}
    <div class="mx-auto">
        {% if category %}
        <img  class="my_image my_image_padding" src="{% static 'imgs/banner.png' %}" alt="{{category.name}}">

    </div><br>
            <div>
                 <h1 class="text-center my-title">{{category.name}}</h1>
                 <p class="text-justify" >{{category.description}}</p>
            </div>

            {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'imgs/banner.png' %}" alt="our items">
</div><br>
           <div>
                 <h1 class="text-center my-title">New Food items</h1>
                 <p class="text-justify">New Food itemsNew Food itemsNew Food itemsNew Food itemsNew Food itemsNew Food itemsNew Food itemsNew Food itemsNew Food items</p>
            </div>
 {% endif %}
<div class="container">
    <div class="row max-auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-6 col-md-4  xol-lg ">
            <div class="card text-center" style="min-width:18em;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>$ {{product.price}}</p>

                </div>
            </div>

        </div>
         {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
<hr>

        <div class="text-center">
            {% for pa_ge in products.paginator.page_range %}
            <a href="?page={{pa_ge}}" class="btn btn-light btn-sm {% if products.number == pa_ge %} active{% endif %}">{{pa_ge}}</a>
             {% endfor %}
        </div>
        {% endif%}
    </div>
    <br>
</div>


{% endblock %}
